.head {
    text-align: center;
    box-shadow: 1px 3px 4px red;
    background-color: rgb(4, 82, 82);
    color: white;
    font-family: fantasy;
    letter-spacing: 3px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

input[type=button] {
    width: 100%;
    padding: 12px 16px;
    font-family: fantasy;
    letter-spacing: 2px;
    background-color: rgb(0, 48, 121);
    color: white;
}
input[type=button]:hover {
    box-shadow: 2px 4px 2px rgb(238, 0, 0);
}
